{% extends 'base_template.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<body class="text-center">
<div class="container">
    <form method="POST" class="form-signin" style="color:white">
        {{ form.hidden_tag() }}
        <img class="mb-4" src="/static/images/aquila.png" alt="aquila" class="logo">
        <h1 class="h3 mb-3 font-weight-normal">
            Who are standing before my vault?
        </h1>
        <br>
        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="User Name") }}

        {{ form.password.label() }}
        {{ form.password(class="form-control", placeholder="Password") }}

        <br>
        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        <br>
        <div class="checkbox mb-3">
            <h6>Are you the new one?</h6>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
        </div>


    </form>
</div>
</body>

{% endblock %}

